.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}

.title_container h1 {
  margin-right: 0.5em;
}

.title_container h1 span {
  color: rgb(var(--background-layout-rgb));
}

.pokemons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2em;

  max-width: var(--max-width);

  margin: 0 auto;

  padding: 1.2em;
}
